@import "./variables.scss";

html,
body {
  margin: 0;
  height: 100%;
  width: 100vw;
  background-color: $light-grey;
}

.cursor {
  cursor: pointer;
}

.responsive {
  margin-left: 5%;
  margin-right: 5%;
  @media (min-width: 1440px) {
    width: 100%;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }
}
